:root {
  --bg-colour: rgb(213, 68, 249);
  --bg-gradient: linear-gradient(
    90deg,
    rgba(213, 68, 249, 1) 0%,
    rgba(123, 27, 254, 1) 100%
  );
}

body {
  background: var(--bg-colour);
  background: var(--bg-gradient);
}

.container {
  max-width: 768px;
  padding: 0 15px;
  margin: 0 auto;
}
